<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registro de Departamentos</title>

    <!-- bootswatch -->
    <link rel="stylesheet" href="../../asset/library/node_modules/bootswatch/dist/simplex/bootstrap.css">

    <!-- css local -->
    <link rel='stylesheet' type='text/css' media='screen' href='../../asset/css/global.css'>

    <!-- ajax -->
    <script src="../../asset/library/node_modules/jquery/dist/jquery.js"></script>

    <!-- sweetalert2 -->
    <script src='../../asset/library/node_modules/sweetalert2/dist/sweetalert2.all.js'></script>

    <!-- Script para Departamentos -->
    <script src='../../js/global.js'></script>
    <script src='../../js/parameter/DepartmentView.js'></script>
</head>

<body>
    <div class="container">
        <form id="department">
            <fieldset>
                <div class="alert alert-dismissible alert-warning">
                    <p class="mb-0">Registro de Departamentos</p>
                </div>
                <!-- Datos de entarada del formulario -->
                <div class="form-group">
                    <input type="hidden" id="id">

                    <label class="form-label mt-1">Código</label>
                    <input type="text" class="form-control" id="codigo" placeholder="Ingresar código">

                    <label class="form-label mt-1">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre">

                    <label class="form-label mt-1">Estado</label>
                    <select class="form-select" id="estado">
                        <option disabled selected='true' >-- Seleccione --</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>

                <!-- Botones -->
                <div>
                    <br>
                    <button type="button" class="btn btn-outline-success" onclick="addData()">Agregar</button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-warning" onclick="updateData()">Modificar</button>
                </div>
            </fieldset>
        </form>

        <!-- Registros -->
        <div>
            <br>
            <table class="table table-hover">
                <thead>
                    <tr class="table-active">                        
                        <td>Codigo</td>
                        <td>Nombre</td>
                        <td>Estado</td>
                        <td>Editar</td>
                        <td>Eliminar</td>
                    </tr>
                </thead>
                <tbody id="dataResult">
                    <!-- Estos datos llegan de la API-->                   
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
<script>
    findAll();
</script>